@media screen and (min-width: 1536px) {
  .sidebar-block {
    position: fixed;
    height: 100%;
    width: 50%;
    justify-items: end;
    background-color: rgba(245, 250, 253, 1);
    transition: all 0.35s ease-in;
  }

  .sidebar-block .sidebar-text span {
    display: flex;
    align-content: flex-end;
    justify-content: start;
    text-decoration: none;
    color: rgba(61, 70, 103, 0.9);
    padding-top: 4rem;
  }

  .sidebar-block .sidebar-text span:hover {
    color: rgba(76, 192, 179, 1);
    font-size: 50px;
    transition: all 0.35s ease-out;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar-block {
    position: fixed;
    height: 100%;
    width: 40%;
    justify-items: end;
    background-color: rgba(245, 250, 253, 1);
    transition: all 0.35s ease-in;
  }

  .sidebar-block .sidebar-text span {
    display: flex;
    align-content: flex-end;
    justify-content: start;
    text-decoration: none;
    color: rgba(61, 70, 103, 0.9);
    padding-top: 4rem;
  }

  .sidebar-block .sidebar-text span:hover {
    color: rgba(76, 192, 179, 1);
    font-size: 50px;
    transition: all 0.35s ease-out;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-block {
    position: fixed;
    height: 100%;
    width: 40%;
    justify-items: end;
    background-color: rgba(245, 250, 253, 1);
    transition: all 0.35s ease-in;
  }

  .sidebar-block .sidebar-text span {
    display: flex;
    align-content: flex-end;
    justify-content: start;
    text-decoration: none;
    color: rgba(61, 70, 103, 0.9);
    padding-top: 4rem;
  }

  .sidebar-block .sidebar-text span:hover {
    color: rgba(76, 192, 179, 1);
    font-size: 50px;
    transition: all 0.35s ease-out;
  }
}