
@import url("./assets/css/font-prompt.css");
@import url("./assets/css/font-gotham.css");
@import url("./assets/css/font-r-flfx.css");

@tailwind base;
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgba(245, 250, 253, 1);
}

@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Prompt, sans-serif;
    color: #0F1840;
  }
  footer{
    font-family: Prompt, sans-serif;
    color: #0F1840;
  }
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
}
